<h1>New Review</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>

  <%= f.submit "Review now!", class: 'btn btn-success' %>
<% end %>


<%= link_to 'Back', restaurants_path %>
